* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

table.calendar {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

table.calendar th, table.calendar td {
  width: 14.28%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

table.calendar th {
  background-color: #4CAF50;
  color: white;
}

table.calendar td {
  height: 50px;
  vertical-align: middle;
  cursor: pointer;
}

table.calendar td.available {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

table.calendar td.available:hover {
  background-color: #45a049;
}

table.calendar td:not(.available) {
  background-color: #f4f4f4;
  color: #999;
  cursor: not-allowed;
}

section {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centralizar verticalmente */
}


.modal {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.modal-conteudo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.modal-agendamento{
  display: flex; /* Para centrar o conteúdo do modal */
  justify-content: center;
  align-items: center;
  width: 400px; /* Largura do modal */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-confimado{
  text-align: left;
}

h2 {
  margin-bottom: 15px;
  color: #333;
}

.modal-link {
  color: #4CAF50;
  text-decoration: none;
}

.modal-link:hover {
  text-decoration: underline;
}
